@use 'mixins';

.container {
}

.shortDesc {
  text-align: left;
  vertical-align: middle;
  //@include mixins.margin(x, lg);
  @include mixins.margin(y, xl);
}

.row {
}

.repoInfo {
  text-align: left;
}

.content {
  vertical-align: text-top;
  text-align: left;
  @include mixins.padding(left, lg);
}
