@use 'mixins';

.container {
  display: block;
}

.title {
  display: block;
}

.titleContainer {
  display: inline-flex;
  justify-content: center;
}

.additionalInfo {
  display: inline;
}

.tableWrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
