@use 'var';
@use 'mixins';

.container {
  @include mixins.padding(y, xl);
  @include mixins.text-md;
}

.row {
  vertical-align: text-top;
  height: 5rem;
}

.period {
  @include mixins.h5;
  @include mixins.padding(right, xl);
  text-align: right;
  border-right: 1px solid rgba(231, 231, 231, 0.39);
  white-space: nowrap;
}

.title {
  @include mixins.padding(left, xl);
  @include mixins.text-sm;
  font-weight: 400;
}

.description {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  @include mixins.text-sm;
}

.description::before {
  font-size: 0.8rem;
  content: '•';
  color: #0687f0;
  @include mixins.margin(right, sm);
}
