@use 'var';
@use 'mixins';

.container {
  font-weight: 400;
}

.link {
  font-size: inherit;
}

.disabled {
  font-size: inherit;
  color: rgba(117, 117, 117, 0.80);
  text-decoration-line: line-through;
}

.space {
  font-size: 0.5em;
}
