@use 'mixins';
@use 'var';

.categoryHeader {
  font-family: 'GmarketSans', sans-serif;
  font-weight: 700;
  color: #9b9898;
  @include mixins.h5;
  @include mixins.margin(y, xl);
}

.categoryContainer {
  @include mixins.margin(y, xl);
}

.taskContainer {
  @include mixins.margin(y, xl);
}

.taskHeaderContainer {
  line-height: 1rem;
}

.foldable {
  cursor: pointer;
}

.foldable:hover {
  background-color: #f5f5f5;
}

.taskHeader {
  @include mixins.padding(right, xs);

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

.foldingArrow {
  @include mixins.padding(left, xs);
  padding-bottom: 2px;
  vertical-align: middle;
  flex-shrink: 0;
}

.taskDetails {
  @include mixins.margin(y, md);
  @include mixins.padding(left, 0);
}

.taskDetail {
  list-style-type: none;
  display: flex;
  align-items: flex-start;

  &__content {
    @include mixins.text-sm;
    white-space: pre-line;
  }
}

.taskDetail::before {
  font-size: 0.8rem;
  content: '•';
  color: #0687f0;
  @include mixins.margin(right, sm);
}
