@use 'mixins';
@use 'var';

.content {
  @include mixins.flex(column, space-between, flex-start);
  @include mixins.text-sm;
}

.certContainer {
  @include mixins.padding(left, 0);
  @include mixins.flex(row, center, center);
  font-weight: 300;
  word-break: keep-all;
}

.certItem {
  @include mixins.flex(column, space-between, center);
  @include mixins.flex-item(1, 1, 0);
  width: 9.5rem;
  height: 12rem;
  border: 1px solid var.$line-color;
  cursor: pointer;

}

.certTitle {
  @include mixins.margin(bottom, lg);
  display: block;
  width: 8rem; // badge width
  height: 4.0rem; // 1.35rem (text-sm) * 3
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  white-space: break-spaces;
}

.badge {
  @include mixins.margin(top, lg);
  @include mixins.margin(bottom, lg);
  display: block;
  width: 5rem;
  height: 5rem;
}